.box-part{
   
    text-align: center;
    padding: 10px  20px 20px 40px;
   
}
.formd{
    display: flex;
    flex-direction: column;
}
.box{
    border: 1px solid #000;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
    padding:  10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
}
.alignFormLabels{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding:10px;
    label{
        text-align: right;
    }
}
.form-control  {width:60%}

@media (max-width: 700px) {
    .alignFormLabels{
        display: block;
    }
    .form-control  {width:100%}
    .box-part{
   
        text-align: center;
        padding: 10px;
       
    }
    .col-2 {display:none;}
}